stat {
    .itemFixer {
        margin: 0em;
        padding: 0em;
        font-size: 1em;
        border: none;
        position: relative;
        z-index: 1;
    }
    .statWrapper {
        margin: 0em;
        padding: 0em;
    }
    .stat {
        border-bottom: 1px solid;
        font-size: 1.2em;
        padding: 1em 1.2em 1em 1.2em;
        margin: 0em 0em 0em 0em;
    }
    .name {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1.05em;
        margin: 0;
        padding: 0;
    }
    .valueWrapper {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .value {
        flex: 1;
        display: flex;
        font-size: 1em;
        align-items: center;
        justify-content: flex-end;
    }
    .maximum {
        display: none;
    }
    .type {
        font-size: .9em;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .visible .value {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        font-size: 1em;
        padding-top: .2em;
    }
    .visible .maximum {
        // color: #938585;
        font-size: .65em;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        margin-bottom: -1.25em;
    }
    // .visible>.name {
    //     margin-bottom: .4em;
    // }
    // .visible>.type {
    //     margin-bottom: .4em;
    // }
}