<div *ngIf="!editing">
  <span>
    <span>{{stat?.name}}: </span>
    <span>
      <span *ngIf="stat?.max > 0">
        <span>{{stat?.value}} /</span>
        <span> {{stat?.max}}</span>
      </span>
      <span *ngIf="stat?.max == 0">
        <span>{{stat?.value}}</span>
      </span>
      <span>
        {{stat?.type}}
      </span>
    </span>
    <button (click)="editing = !editing">Edit</button>
</span>
</div>
<div *ngIf="editing">
  <form [formGroup]="statForm">
    <span>
      <span>{{stat?.name}}: </span>
      <span>
        <input formControlName="value" type="number">
        <span *ngIf="stat.max > 0">
          <span> / <input formControlName="max" type="number"></span>
        </span>
        <span>
          {{stat?.type}}
        </span>
      </span>
      <button type="button" (click)="FinishEdit()">Done</button>
    </span>
  </form>
</div>
