stat-slider-change {
    .slideEdit {
        // position: relative;
        // z-index: 2;
        // box-shadow: 0px -4px 4px -4px rgba(0, 0, 0, 0.14);
        .item.item-block.item-range {
            box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.14);
        }
    }
    // .rangeHeader {
    //     display: flex;
    //     align-items: center;
    // }
    .rangeValue {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rangeSlider {
        .rangeLeft.label {
            margin-right: 1em !important;
        }
        .rangeRight.label {
            margin-left: 1em !important;
        }
    }
    .item-range {
        padding: 0px 16px 0px 16px;
    }
}