<h4>{{ username | async }}: <span>{{ (character | async)?.name }}</span></h4>
<ul>
    <li *ngFor="let stat of (stats | async); let i = index">
        <!-- <app-stat [stat]="stat" (statUpdated)="updateStat($event)"></app-stat> -->
        <div *ngIf="i === selectedStat; then editMode else viewMode"></div>
        <ng-template #editMode>
            <form [formGroup]="editStatForm">
                <ul>
                    <li>EDIT MODE</li>
                </ul>
            </form>
        </ng-template>
        <ng-template #viewMode>
            <span (click)="selectStat(i)">Name: {{ stat.name }} Current: {{ stat.value }} Maximum: {{ stat.maximum }} Type: {{ stat.type }}</span>
        </ng-template>
    </li>
</ul>
<form [formGroup]="addStatForm" (ngSubmit)="addStat()">
    <ul>
        <li><input type="text" name="name" placeholder="Name" formControlName="name"></li>
        <li><input type="number" name="value" placeholder="Current Value" formControlName="value"></li>
        <li><input type="number" name="maximum" placeholder="Maximum Value. 0 for no maximum" formControlName="maximum"></li>
        <li><input type="text" name="type" placeholder="Value Type" formControlName="type"></li>
    </ul>
    <button type="submit" [disabled]="addStatForm.invalid">Add Stat</button>
</form>