<ion-header [ngStyle]="{'background-color': (currentStat | async) ? 'red' : '#488aff' }">
    <div *ngIf="(currentStat | async); then titleEdit else titleAdd"></div>
    <ng-template #titleAdd>
        <ion-navbar [@charTitle]>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>{{ ( character | async )?.name }}</ion-title>
            <ion-buttons end>
                <button ion-button icon-only (click)="createStat()">
                    <ion-icon name="add">
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ng-template>
    <ng-template #titleEdit>
        <ion-navbar class="editHeader" [@statTitle]>
            <ion-title>{{ ( currentStat | async )?.name }}</ion-title>
            <ion-buttons end>
                <button ion-button icon-only (click)="editStat()">
                     <ion-icon name="open">
                     </ion-icon>
                </button>
                <button ion-button icon-only (click)="unselectStat()">
                    <ion-icon name="close">
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ng-template>
</ion-header>

<ion-content>
    <ion-list class="listFixer">
        <!-- <stat *ngFor="let stat of (stats | async); let i = index" [stat]="stat" [index]="i"></stat> -->
        <ng-template #statsContainer></ng-template>
    </ion-list>
</ion-content>