<!--
  Generated template for the CharacterSheetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div *ngIf="(currentStat | async); then titleEdit else titleAdd"></div>
    <ng-template #titleAdd>
        <ion-navbar color="primary">
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>{{ ( character | async )?.name }}</ion-title>
            <ion-buttons end>
                <button ion-button icon-only (click)="createStat()">
                    <ion-icon name="add">
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ng-template>
    <ng-template #titleEdit>
        <ion-navbar class="editHeader">
            <!-- <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button> -->
            <ion-title>{{ ( currentStat | async )?.name }}</ion-title>
            <ion-buttons end>
                <button ion-button icon-only (click)="editStat()">
                     <ion-icon name="open">
                     </ion-icon>
                </button>
                <button ion-button icon-only (click)="unselectStat()">
                    <ion-icon name="close">
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ng-template>
</ion-header>

<ion-content>
    <ion-list class="listFixer">
        <div *ngFor="let stat of (stats | async); let i = index">
            <div *ngIf="(currentStat | async)?.id === stat.id; then editMode else viewMode"></div>
            <ng-template #viewMode>
                <ion-item-sliding>
                    <ion-item class="itemFixer">
                        <ion-grid class="statWrapper">
                            <ion-row col-12 (click)="selectStat(stat, i)" class="stat" [ngClass]="{'visible': getVis(stat.value, stat.maximum)}">
                                <ion-col col-5 class="name">
                                    {{ stat.name }}
                                </ion-col>
                                <ion-col col-3 class="valueWrapper">
                                    <span class="value">
                                        {{ stat.value }}
                                    </span>
                                    <span class="maximum">
                                        {{ stat.maximum }}
                                    </span>
                                </ion-col>
                                <ion-col col-4 text-right class="type">
                                    {{ stat.type }}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item-options *ngIf="stat.maximum > 0 && stat.value < stat.maximum" side="left">
                        <button ion-button color="secondary" (click)="refresh(stat)">
                            <ion-icon name="refresh-circle">                          
                            </ion-icon>
                            Refresh
                        </button>
                    </ion-item-options>
                    <ion-item-options side="right">
                        <button ion-button color="danger" (click)="removeStat(stat)">
                            <ion-icon name="trash">
                            </ion-icon>
                            Remove
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ng-template>
            <ng-template #editMode>
                <div *ngIf="stat.maximum > 0; then slideEdit else inputEdit"></div>
                <ng-template #slideEdit>
                    <ion-list>
                        <ion-list-header>
                            <ion-row>
                                <!-- <ion-col col-4 class="rangeHeader">
                                    {{stat.name}}
                                </ion-col> -->
                                <ion-col col-2>
                                    <button *ngIf="rangeValue > 0" (click)="rangeClick(stat, 'MINUS')" ion-button icon-only clear>
                                    <ion-icon name="remove" ></ion-icon>
                                </button>
                                </ion-col>
                                <ion-col col-8 class="rangeValue">
                                    {{ rangeValue }}
                                </ion-col>
                                <!-- <ion-col col-4 text-right>
                                    <button ion-button icon-only clear>
                                        <ion-icon name="create" style="color:white">
                                        </ion-icon>
                                    </button>
                                    <button ion-button icon-only clear (click)="unselectStat()">
                                        <ion-icon name="close" style="color:white">
                                        </ion-icon>
                                    </button>
                                </ion-col> -->
                                <ion-col col-2>
                                    <button *ngIf="rangeValue < stat.maximum" (click)="rangeClick(stat, 'PLUS')" ion-button icon-only clear>
                                        <ion-icon name="add"></ion-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                        </ion-list-header>
                        <ion-item>
                            <ion-range class="rangeSlider" min="0" max="{{rangeMax}}" [(ngModel)]="rangeValue" debounce="{{EVENTDEBOUNCE}}" (ionChange)="rangeChange(stat)">
                                <ion-label range-left class="rangeLeft">
                                    0
                                </ion-label>
                                <ion-label range-right class="rangeRight">
                                    {{rangeMax}}
                                </ion-label>
                            </ion-range>
                        </ion-item>
                    </ion-list>
                </ng-template>
                <ng-template #inputEdit>
                    <ion-item class="formEdit">
                        <form [formGroup]="editStatForm">
                            <ion-row>
                                <ion-col col-2>
                                    <button (click)="formChange(stat, 'MINUS', $event)" ion-button icon-only clear>
                                    <ion-icon name="remove"></ion-icon>
                                </button>
                                </ion-col>
                                <ion-col col-8 class="formEditInput">
                                    <input type="number" placeholder="Change {{stat.value}} by" formControlName="value" #inputFocus/>
                                </ion-col>
                                <ion-col col-2>
                                    <button (click)="formChange(stat, 'PLUS', $event)" ion-button icon-only clear>
                                    <ion-icon name="add" ></ion-icon>
                                </button>
                                </ion-col>
                            </ion-row>
                        </form>
                    </ion-item>
                </ng-template>
            </ng-template>
        </div>
    </ion-list>
</ion-content>