<!-- Generated template for the AppDrawComponent component -->
<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar class="taller">
            <ion-title>
                <div *ngIf="mode === templateModeTestVar" ; then onlineTitle else offlineTitle></div>
                <ng-template #onlineTitle>
                    {{ user | async }}
                </ng-template>
                <ng-template #offlineTitle>
                    <div *ngIf "(user | async) === templateNameTestVar; then noUser else login"></div>
                    <ng-template #noUser>
                        <button ion-button full (click)="createUser">Create User</button>
                    </ng-template>
                    <ng-template #login>
                        <button ion-button full (click)="login">Login</button>
                    </ng-template>
                </ng-template>
                </div>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item *ngIf="mode === templateModeTestVar" (click)="logout()" menuClose>
                <ion-icon name="log-out" item-start></ion-icon>
                Log Out
            </ion-item>
            <ion-item (click)="charList()" menuClose>
                <ion-icon name="people" item-start></ion-icon>
                Character List
            </ion-item>
            <ion-item (click)="prefNav()" menuClose>
                <ion-icon name="settings" item-start></ion-icon>
                Preferences
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>