<!-- Generated template for the AppDrawComponent component -->
<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar class="taller">
            <ion-title>{{ user | async }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (click)="logout()" menuClose>
                <ion-icon name="log-out" item-start></ion-icon>
                Log Out
            </button>
            <button ion-item (click)="charList()" menuClose>
                <ion-icon name="people" item-start></ion-icon>
                Character List
            </button>
            <button ion-item menuClose>
                <ion-icon name="settings" item-start></ion-icon>
                Preferences
            </button>
        </ion-list>
    </ion-content>
</ion-menu>